<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<title>谝聊</title>
<style type="text/css">
body{
    width:98%;
    margin:auto;
    padding:0;
}

#brag {
    width:390px;
    margin:auto;
}

#form {display:flex;flex-direction:row;align-items:center;}
#form #name{width:80px;}
#form input {height:35px;font-size:1rem;margin-right:0px;}

#header{margin:.5em 0;text-align:center;}
#header .logo{font-size:1rem;}

#profile{
    width:390px;
    height:300px;
}

</style>
</head>
<body>


<div id=header>
    <span class=logo>谝&nbsp;聊</span>
</div>

  <v-app id="brag">
    <v-form v-model="valid" id=profile >
      <v-container>
        <v-row>
          <v-col
            cols="12"
            md="20"
          >
            <v-text-field
              v-model="room"
              :rules="roomRules"
              :counter="10"
              label="聊天房名称"
              required
            ></v-text-field>
          </v-col>
        </v-row>

        <v-row>
          <v-col
            cols="12"
            md="20"
          >
            <v-text-field
              v-model="name"
              :rules="nameRules"
              :counter="10"
              label="昵称"
              required
            ></v-text-field>
          </v-col>
  
        </v-row>

        <v-row>
          <v-col cols="12" md="20" >
                <v-btn color="primary" elevation="4" @click="checkin">开始聊天</v-btn>
          </v-col>
        </v-row>


      </v-container>
    </v-form>
  </v-app>



<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
new Vue({
  el: '#brag',
  vuetify: new Vuetify(),
  data: () => ({
    valid: false,
    nameRules: [
      v => !!v || '昵称不能为空',
      v => v.length <= 10 || '昵称长度最多为15个字符，不能包含空格',
    ],
    roomRules: [
      v => !!v || '房间名称不能为空',
      v => v.length <= 10 || '房间名称限制为10个字符，不能包含空格。',
    ],
	opacity: 0.8,
	zIndex: -1,

  }),
    methods: {
        checkin(){
            if ( this.room && this.name && this.rid ) {
                window.location = '/chat.html?rid='+this.rid+'&room='+this.room+'&name='+this.name;
            }
        }
    },
    mounted() {},
    created() {
        let urlParams = new URLSearchParams(window.location.search);
        this.rid = urlParams.get('rid') ?? (Math.random() + 1).toString(36).toUpperCase().substring(7);
        this.room = urlParams.get('room');
        this.name = urlParams.get('name');
    },
})
</script>
</body>
</html>
